/* General Styles */
.card-container {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    /* background-color: #f3f4f6; */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.card-id {
    font-size: 14px;
    color: #6b7280;
    font-weight: 500;
}

.user-avatar {
    width: 32px;
    height: 32px;
    background-color: #d1d5db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.status-title-wrapper {
    display: flex;
    gap: 8px;
}

.status-icon {
    display: flex;
    align-items: center;
}

.card-title {
    /* Font Styling */
    font-size: 14px;
    font-weight: 500;

    /* Overflow Handling */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to indicate truncated content */

    /* Multi-line Clamping */
    display: -webkit-box; /* Enable WebKit-based flexible box layout */
    -webkit-box-orient: vertical; /* Set the box layout orientation to vertical */
    -webkit-line-clamp: 2; /* Limit the text to 2 lines */

}

/* Card Details */
.card-details {
    display: flex;
    justify-content: start;
    padding: 8px 0;
    font-size: 14px;
}

.card-points {
    margin-right: 8px;
}

.priority-wrapper {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
}

.tag-wrapper {
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 4px;
}

.tag-color {
    width: 8px;
    height: 8px;
    background-color: #9ca3af;
    border-radius: 50%;
    margin-right: 8px;
}

.tag-text {
    color: #6b7280;
}
